@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --clinical-blue-deep: #0c4a6e;
  --clinical-blue: #0284c7;
  --clinical-blue-light: #e0f2fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
