@import "tailwindcss";

@theme {
  --color-clinical-blue-deep: #0c4a6e;
  --color-clinical-blue: #0284c7;
  --color-clinical-blue-light: #e0f2fe;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  @apply font-sans;
}

@utility text-balance {
  text-wrap: balance;
}
